/* Selector Universal */ 
/* Propiedad: valor */ 
*{
 margin: 0px; 
padding: 0px;
 }
body {
 background-color:  rgb(0, 0, 0);  
 color: rgb(255, 251, 251); 
 font-family: 'Times New Roman', Times, serif;  
font-size: 1em; 
}
 #wrapper{ 
width: 90%;
 margin: 5% auto;
 border: 5px rgb(219, 98, 230) solid;
 border-radius: 10px;
 }
 nav { background-color: rgb(0, 0, 0);
 text-align: center;
 position: fixed; 
width: 90%;
 } 
nav ul li{ 
display: inline-block;
 padding: 5px; 
margin-left: 25px;
 }
 nav ul li a { 
color: rgb(156, 245, 240);
 font-family: Georgia, 'Times New Roman', Times, serif; 
font-size: 1.2em;
 text-decoration: none;
 } 
a:hover { 
color: bisque;
 text-decoration: underline; 
} 
h1{
    color: aqua;
    text-align: center; 
    padding: 10px;
     
} 
h2{ 
    color: rgb(219, 98, 230);
    text-align: center; 
padding: 10px;
 } 
header { 
margin-top: 32px;
 height: 300px; 
background: rgb(78, 221, 226) url("../img/images.jpg"); 
background-repeat: no-repeat;
 background-size: cover; color: white; 
text-align: center;
 line-height: 125px; 
}
 h3,h4,h5 { 
text-align: center;
 margin: 5px; } 
h3{ color: rgb(210, 97, 255); 
} 
h4{ 
color: aqua;
 }
 p {
 padding: 10px;
 text-align: justify;
 border: 2px silver solid;
 border-radius: 10px; 
margin: 5px;
 } 
.impar {
 color: rgb(0, 255, 242); 
border-top-right-radius: 25px;
 } 
.par{ color: gray;
 padding: 0px 50px;
 }
 hr{
    margin: 10px 5px ;
    width: 98%;
    color: silver;
 }
 #panel{
    width: 50%;
    margin: 50px auto;
    height: 200px;
    border: 3px silver outset;
    border-radius:20px ;
    text-align: center;
 }
 .caja{
    width: 80%;
    height: 30px;
    text-align: center;
 }
 .boton{
    width: 50%;
    margin-top: 10px;
    background-color: black;
    color: white;
 }